In [2]:
import pandas as pd
product_sales = pd.read_csv('product_sales.csv')
product_sales

            SaleRep Region  Orders  TotalSales
0      Felice Lunck   West     218       44489
1    Doralynn Pesak   West     233       61035
2  Madelle Martland   East     264       62603
3      Yasmin Myhan  South     110       59377
4   Marmaduke Webbe   East     188       78771
5   Christiano Vero   East     265       68506
6   Cecelia Jealous   West      93       53634
7    Isaak Housiaux   East     189       62455
8    Derril Howland   East     385       73460
9       Judon Allom   West     230       51067

In [3]:
product_sales.to_html('product_sales.html', index=False)

In [10]:
firstAndLastProduct = pd.concat([product_sales.head(1), product_sales.tail(1)])
firstAndLastProduct.to_csv('first-and-last-product.csv', index=False)
firstAndLastProduct

        SaleRep Region  Orders  TotalSales
0  Felice Lunck   West     218       44489
9   Judon Allom   West     230       51067

In [14]:
westRegionRelated = product_sales[product_sales['Region'] == 'West']
westRegionRelated
westRegionRelated.to_html('westRegionRelated.html', index=False)