# SAVING DATA TO FILE
---

## Methods of Writing Data to File

To save a DataFrame to a file, use one of the available methods. Try to save data from all rows but selected columns to the file.

In [4]:
import pandas as pd
oscars = pd.read_csv('oscars.csv')
oscars

,Year,Category,Name,Movie
0,2023,Best Actress,Michelle Yeoh,Everything Everywhere All at Once
1,2023,Best Actor,Brendan Fraser,The Whale
2,2022,Best Actress,Jessica Chastain,The Eyes of Tammy Faye
3,2022,Best Actor,Will Smith,King Richard
4,2021,Best Actress,Frances McDormand,Nomadland
5,2021,Best Actor,Anthony Hopkins,The Father
6,2020,Best Actress,Renée Zellweger,Judy
7,2020,Best Actor,Joaquin Phoenix,Joker
8,2019,Best Actress,Olivia Colman,The Favourite
9,2019,Best Actor,Rami Malek,Bohemian Rhapsody
10,2018,Best Actress,Frances McDormand,Three Billboards Outside Ebbing Missouri
11,2018,Best Actor,Gary Oldman,Darkest Hour
12,2017,Best Actress,Emma Stone,La La Land
13,2017,Best Actor,Casey Affleck,Manchester by the Sea
14,2016,Best Actress,Brie Larson,Room
15,2016,Best Actor,Leonardo DiCaprio,The Revenant
16,2015,Best Actress,Julianne Moore,Still Alice
17,2015,Best Actor,Eddie Redmayne,The Theory of Everything
18,2014,Best Actress,Cate Blanchett,Blue Jasmine
19,2014,Best Actor,Matthew McConaughey,Dallas Buyers Club

In [8]:
movies = oscars.loc[:,['Movie','Year']]
movies

                                       Movie  Year
0          Everything Everywhere All at Once  2023
1                                  The Whale  2023
2                     The Eyes of Tammy Faye  2022
3                               King Richard  2022
4                                  Nomadland  2021
5                                 The Father  2021
6                                       Judy  2020
7                                      Joker  2020
8                              The Favourite  2019
9                          Bohemian Rhapsody  2019
10  Three Billboards Outside Ebbing Missouri  2018
11                              Darkest Hour  2018
12                                La La Land  2017
13                     Manchester by the Sea  2017
14                                      Room  2016
15                              The Revenant  2016
16                               Still Alice  2015
17                  The Theory of Everything  2015
18                              Blue Jasmine  2014
19                        Dallas Buyers Club  2014

In [9]:
movies.to_csv('movies.csv', index=False)

### Tasks

Display the contents of the created CSV file in the editor and:

* Verify that the file contains two columns of data.
* Note that if you use index=False when writing data to the file, the file will not contain the names/numbers of the data rows.

In [13]:
movies

                                       Movie  Year
0          Everything Everywhere All at Once  2023
1                                  The Whale  2023
2                     The Eyes of Tammy Faye  2022
3                               King Richard  2022
4                                  Nomadland  2021
5                                 The Father  2021
6                                       Judy  2020
7                                      Joker  2020
8                              The Favourite  2019
9                          Bohemian Rhapsody  2019
10  Three Billboards Outside Ebbing Missouri  2018
11                              Darkest Hour  2018
12                                La La Land  2017
13                     Manchester by the Sea  2017
14                                      Room  2016
15                              The Revenant  2016
16                               Still Alice  2015
17                  The Theory of Everything  2015
18                              Blue Jasmine  2014
19                        Dallas Buyers Club  2014

Now try to save the first 6 rows to a JSON file. Then, display the contents of the created file in the editor.

In [12]:
firstSixMovies = movies.head(6)
firstSixMovies

                               Movie  Year
0  Everything Everywhere All at Once  2023
1                          The Whale  2023
2             The Eyes of Tammy Faye  2022
3                       King Richard  2022
4                          Nomadland  2021
5                         The Father  2021

In [13]:
firstSixMovies.to_json('firstSixMovies.json', index=False)

Try to save the last 8 rows with the columns Movie and Year to an HTML file. Then, display the contents of the created file in the editor. Finally, display the created HTML document in any web browser.

In [16]:
lastEightMovies = movies.tail(8)
lastEightMovies

                       Movie  Year
12                La La Land  2017
13     Manchester by the Sea  2017
14                      Room  2016
15              The Revenant  2016
16               Still Alice  2015
17  The Theory of Everything  2015
18              Blue Jasmine  2014
19        Dallas Buyers Club  2014

In [ ]:
lastEightMovies.to_html('lastEightMovies.html')