# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [2]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [3]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [4]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [5]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [6]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [7]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']
employees.append('Marek')
employees.append('Stefan')
ds = pd.Series(data=employees)
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7      Marek
8     Stefan
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [8]:
components = ['CPU','Hard Drive','Memory','GPU','Storage']
ds = pd.Series(data=components)
ds

0           CPU
1    Hard Drive
2        Memory
3           GPU
4       Storage
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [9]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [10]:
tools_in_stock.update({'tape measure': 9})
tools_in_stock.update({'wrench': 10})

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [11]:
tools.sum()

58

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

### Tasks

Calculate the average number of tools in stock.

In [12]:
average = tools.mean()
average

11.6

Generate descriptive statistics for the tools in stock.

In [13]:
tools.describe()

count     5.000000
mean     11.600000
std       7.536577
min       4.000000
25%       7.000000
50%       9.000000
75%      15.000000
max      23.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [31]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [38]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

In [37]:
tools.loc[['drill', 'saw']]

drill    4
saw      7
dtype: int64

For the selected values you can then calculate various statistics.

In [39]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [17]:
restaurantGuests = {'Monday': 2, 'Tuesday': 10, 'Wednesday': 10, 'Thursday': 12, 'Friday': 21, 'Saturday': 31, 'Sunday': 23}
guestData = pd.Series(restaurantGuests)
guestData

Monday        2
Tuesday      10
Wednesday    10
Thursday     12
Friday       21
Saturday     31
Sunday       23
dtype: int64

With the created data series, follow the instructions below.

Display the contents of the Series.

In [18]:
guestData

Monday        2
Tuesday      10
Wednesday    10
Thursday     12
Friday       21
Saturday     31
Sunday       23
dtype: int64

Display the total number of restaurant customers.

In [19]:
guestData.sum()

109

Display the median number of restaurant customers.

In [20]:
guestData.median()

12.0

Display descriptive statistics.

In [21]:
guestData.describe()

count     7.000000
mean     15.571429
std       9.846440
min       2.000000
25%      10.000000
50%      12.000000
75%      22.000000
max      31.000000
dtype: float64

Display the list of restaurant customers on business days.

In [22]:
guestData['Monday':'Friday']

Monday        2
Tuesday      10
Wednesday    10
Thursday     12
Friday       21
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [23]:
guestData['Monday':'Friday'].mean()

11.0

Display the list of restaurant customers on the weekend.

In [24]:
guestData['Friday':'Sunday']

Friday      21
Saturday    31
Sunday      23
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [40]:
guestData['Friday':'Sunday'].sum()

75